@import url("style.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: fantasy, sans-serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.score {
  height: 12rem;
}

.display {
  position: relative;
  margin: 1rem auto;
  width: 24rem;
  height: 12rem;
  background-color: rgb(209, 207, 207);
  border: 2px solid black;
  border-radius: 20px;
}

@keyframes backgroundOpacity {
  from {
    background-color: rgba(13, 245, 13, 1);
  }
  to {
    background: rgba(13, 245, 13, 0);
  }
}

.win {
  animation: backgroundOpacity 1s;
}

.notification {
  height: 7rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 7rem;
}

.result-text {
  position: relative;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;
  text-align: center;
  color: black;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.computer,
.human {
  position: absolute;
  border: 1px solid black;
  color: white;
  font-size: 2.2rem;
  text-align: center;
  line-height: 2.5rem;
  top: 4.3rem;
  width: 6rem;
}
.computer {
  background-color: red;
  left: 21rem;
}
.human {
  background-color: blue;
  left: -3rem;
}

.game {
  margin: 0 auto;
  width: 50%;
  display: flex;
}

.rock,
.paper,
.scissors {
  margin: auto;
  text-align: center;
  width: 8rem;
  height: 8rem;
  font-size: 5rem;
  background-color: rgb(209, 207, 207);
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.new-game {
  background-color: rgb(8, 204, 8);
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  width: 7.5rem;
  margin: 1.5rem auto;
  cursor: pointer;
}

@media (max-width: 840px) {
  .rock,
  .paper,
  .scissors {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }

  .display {
    width: 15rem;
  }

  .result-text {
    font-size: 4rem;
  }

  .computer,
  .human {
    font-size: 1.5rem;
    line-height: 2rem;
    top: 4.7rem;
    width: 4rem;
    height: 2rem;
  }

  .computer {
    left: 13rem;
  }

  .human {
    left: -2rem;
  }
}
